body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
video {
    background-color: black;
    margin-bottom: 1rem;
}
  
#error {
    color: red;
    padding: 0.6rem;
    background-color: rgb(236 157 157);
    margin-bottom: 0.6rem;
    display: none;
}